{% extends "app/newlayout.html" %}

{% block content %}

<h1 class="title">Who Is This?</h1>
<h3>By James Hovet '18</h3>
		<h3>Instructions:</h3>
<div class="instructions">
        <h4 class="important">YOU NEED A LAPTOP TO PLAY</h4>
		<h4>Start typing in the name of the image you see. You can use first name, last name, or the person's nickname (according to the directory)</h4>
		<h4>Select the correct name from the drop down menu. If there are identical options, both work</h4>
		<h4>You can use the arrow keys to select from the menu, and the enter key to submit</h4>
		<h4>If you do not know the answer, leave the box blank, and press sumbit</h4>
		<h4>Report any bugs to: <a href="mailto:jhovet18@groton.org">jhovet18@groton.org</a></h4>
</div>
<h1><a href="/test">Play the game:</a></h1>



{% endblock %}
