<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/question.css' %}" />

    
</head>

{% block content %}

<body>

    <h2>Who is this?</h2>
    <h3>test: {{test}}</h3>
    <h4>corr: {{corr}}</h4>
    <h4>correct: {{correct}}</h4>

    <img src="{% static "app/img/"|add:imgNum|add:".jpg" %}">
    <br>
    <div id="ANSWERS">

        <form action="/test/?q={{ numQuestion |add:1 }}" method="post">{% csrf_token %}
    <label><input type="radio" id="choice1" name="answer" value="op1"> {{op1}}</label><br><br>
    <label><input type="radio" id="choice2" name="answer" value="op2"> {{op2}}</label><br><br>
    <label><input type="radio" id="choice3" name="answer" value="op3"> {{op3}}</label><br><br>
    <label><input type="radio" id="choice4" name="answer" value="op4"> {{op4}}</label><br><br>

            <input hidden="true" id="corr" name="correctChoice" value="{{corr}}">

    </div>
    
    <br>

    <button type="submit">SUBMIT</button>

        </form>

</body>

{% endblock %}