<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/question.css' %}" />
    
    
</head>

{% block content %}

<body>

    <h2>Who is this?</h2>

    <img src="{% static "app/img/"|add:imgNum|add:".jpg" %}">
    <br>
    <div id="ANSWERS">
    <input type="radio" name="answer" value="op1"> {{op1}}<br>
    <input type="radio" name="answer" value="op2"> {{op2}}<br>
    <input type="radio" name="answer" value="op3"> {{op3}}<br>
    <input type="radio" name="answer" value="op4"> {{op4}}<br>
    </div>
    
    <br>

    <button>SUBMIT</button>
    
</body>

{% endblock %}