<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />-->

	<link rel="stylesheet" type="text/css" href="{% static 'app/content/newSite.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/question.css' %}"/>




</head>

{% block content %}

<body>
    <div class=questionBody>

        <div class="imgClass">

            <table>
                <tr>
                <td><img id="img1" src="{% static "app/img/"|add:imgNum|add:".jpg" %}"></td>
                <td><img id="img2" src="{% static "app/img/"|add:imgNum|add:".jpg" %}"></td>
                </tr>
            </table>

        </div>

    </div>
</body>


{% endblock %}